body {
    min-width: 240px;
    align-items: center;
    text-align: center;
}

button {
    margin: 8px;
    max-width: 208px;
    min-width: 208px;
    padding: 4px;
}

#level-bar {
    max-width: 208px;
    min-width: 208px;
    align-self: center;
    height: 10px;
    padding: 8px;
    margin: 8px;
    background-color: green;
}